*{
    margin: 0;
    padding: 0;
    font-family: 宋体;
    font-weight: 600;
}

.container{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    transition: all ease-in 0.3s ;
}
.container-scroll{
    width: 100%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    /*display: flex;*/
    /*flex-flow: column wrap;*/
    background-color: #EEEEEE;
}

.xy-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.xy-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.border{
    border: 1px solid red;
}
.bg-center{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
::-webkit-scrollbar{
    display: none;
}


