

#dynamic1 ul {

    list-style: none;
    display: flex;
    width: 140%;
    height: 100%;
    /*flex-flow: row nowrap;*/
    justify-content: space-around;
    /*align-items: flex-start;*/
}

#dynamic1 ul li:nth-child(n){
    width: 90px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: #747474;
    font-size: 14px;
    font-weight: 600;
}
@keyframes move {
    0%{
        background: rgba(225, 225, 225, 0.2);
    }
    50%{
        background: rgba(225, 225, 225, 0.3);
    }
    100%{
        background: rgba(225, 225, 225, 0.6);
    }
}
#dynamic1 ul li:active {
    /*border:1px solid grey;*/
    animation: move 0.2s linear;

}
.tab-menu-icon{
    width: 20px;
    height: 20px;
    display: inline-block;
    overflow: hidden;
}
#dynamic1 .tab-menu-icon img{
    width: 20px;
    height: 20px;
    position: relative;
    left: -30px;
    border-right: 30px solid transparent;
    filter: drop-shadow(30px 0 );
}
