#search{
    width: 100%;
    height: 40px;
    display: flex;

}
.webkit{
    width: 96%;
    height: 28px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
.text_color{
    /*margin-left: 10px;*/
}
.search_input{
    z-index: -1;
    position: absolute;
    left: 100px;
}